.folderHeading {
    font-size: 20px;
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.folderItemsContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.Folder {
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0px rgb(222, 221, 221);
}

.FolderIcon {
    color: rgb(82, 82, 82);
    padding-right: 10px;
}

.Folder:hover {
    background-color: rgb(222, 221, 221);
    cursor: pointer;
}

.Folders {
    display: grid;
    width: 95%;
    padding-top: 50px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);

}

.semHeader {
    color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px 0px rgb(222, 221, 221);
    margin: auto;
}

.paperNotFound {
    display: flex;
    justify-content: space-between;
}

.paperNotFound__heading {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.paperNotFound__contribute {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paperNotFound__icon {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}


@media (prefers-color-scheme: dark) {

    .Folder {
        box-shadow: 1px 1px 2px 1px rgb(222 221 221);
    }

    .Folder:hover {
        background-color: #ff0100;
        color: #000000;
        cursor: pointer;
    }
}