.newFile {
    display: flex;
    align-items: center;
}

.popup {
    z-index: 5;
    position: absolute;
    left: 20%;
    top: 20%;
    background-color: #f8f9fa;
    height: 60%;
    width: 60%;
    color: black;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.75);
}

.popup > ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 200px 5px 30px;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    display: flex;
}

li:hover {
    background-color: rgb(240, 240, 240);
}